<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chatarang</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/main.min.css" rel="stylesheet" type="text/css">
    <link href="/css/chat.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Chatarang</a>
        <%for (var i=0; i < nav.length; i++) {%>
          <a class="nav-link" href="<%=nav[i].Link%>"><%=nav[i].Text%></a>
        <%}%>
      </div>
    </nav>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-sm-2 pt-2">
              <a class="user-chat-list-link" href="/chat">Announcements</a>
              <%for (var j=0; j < userRooms.length; j++) {%>
              <a class="user-chat-list-link" href="<%=userRooms[j].Link._id%>"><%=userRooms[j].Text%></a>
            <%}%>
          </div>
            <div class="col-lg-10 col-sm-10 pt-2">
              <div class="userArea">
                <div id="userMessages">
                  <div class="sentFromOther"><p>Welcome to Chatarang</p></div>
                </div>
                <div class="userInputFields">
                    <p id="username"><%=userFromDB.username%></p>
                  <input type="text" id="inputField" autofocus />
                  <input type="button" id="chatButton" value="Submit">
                </div>
                <div id="userTyping">
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <a id="addRoom">Add this room</a>
              </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <p class="text-muted small">&copy; Rider Jensen 2018. All Rights Reserved.</p>
          </div>
          
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
    <script>
      var socket = io();
    </script>
    <script src="/scripts/main.js" type="text/javascript"></script>
    <script src="/scripts/socketScripts.js" type="text/javascript"></script>
  </body>

</html>